<% query = @query %>
<%= hidden_field_tag 'set_filter', '1' %>
<%= hidden_field_tag 'type', @query.type, :disabled => true, :id => 'query_type' %>
<%= query_hidden_sort_tag(@query) %>

<div id="query_form_content" class="easy-query-filter-container with-freetext">
  <div class="easy-query-heading">
    <div class="buttons contextual">
      <div class="filters open" id="easy-query-toggle-button-filters">
        <a href="javascript:void(0);">
          <i class="icon-toggler"></i>Filters<span class="default-filter">default</span></a>
      </div>
      <script type="application/javascript">
          //<![CDATA[
          EasyGem.schedule.late(function(){
              $("#easy-query-toggle-button-filters").bind('click', function(e, el) {
                  EASY.utils.toggleDivAndChangeOpen('filters', "#easy-query-toggle-button-filters");
                  EASY.query.toggleFilterButtons('filter_buttons', '.easy-query-filter-toggle');
              });
          }, 0);
          //]]>
      </script>
      <div class="settings" id="easy-query-toggle-button-settings">
        <a href="javascript:void(0);">
          <i class="icon-toggler"></i>
          Options</a>
      </div>
      <script type="application/javascript">
          //<![CDATA[
          EasyGem.schedule.late(function(){
              $("#easy-query-toggle-button-settings").bind('click', function(e, el) {
                  EASY.utils.toggleDivAndChangeOpen('filters_settings', "#easy-query-toggle-button-settings");
                  EASY.query.toggleFilterButtons('filter_buttons', '.easy-query-filter-toggle');
              });
          }, 0);
          //]]>
      </script>
    </div>
  </div>

  <div class="easy-query-filter-settings">
    <div id="filters" class="easy-query-filter-toggle gray-background filters collapsible" style="display: block;">

      <div id="easyquery-filters" class="easyquery-filters">
        <div class="add-filter tabular">
          <p>
          <div id="query_form_with_buttons" class="hide-when-print">
            <div id="query_form_content">
              <div style="<%= @query.new_record? ? "" : "display: none;" %>">
                <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
              </div>
              </fieldset>
            </div>
          </div>
          </p>
        </div>

      </div>

    </div>
    <div id="filters_settings" class="easy-query-filter-toggle gray-background others collapsible collapsed" style="display: none;">

      <div id="outputs_settings">
        <div class="list_settings output-settigs-box" data-output="list" style="">
          <% tag_name = (options[:name] || 'c') + '[]'%>
          <% tag_id = tag_name.gsub(/[\[\]]+/, '_').sub(/_+$/, '') %>
          <% available_tag_id = "available_#{tag_id}" %>
          <% selected_tag_id = "selected_#{tag_id}" %>

          <table class="filters-table">
            <tr class="columns-container" id="columns" style="">
              <td class="columns-heading"><label>Columns</label></td>
              <td><table style="border-collapse: collapse; border:0; width: auto" class="columns">
                <tbody><tr>
                  <td style="padding-left:0">
                    <%= select_tag 'available_columns',
                                   options_for_select(query_available_inline_columns_options(query)),
                                   :id => available_tag_id,
                                   :multiple => true, :size => 10,
                                   :ondblclick => "moveOptions(this.form.#{available_tag_id}, this.form.#{selected_tag_id});" %>
                  </td>
                  <td style="vertical-align: middle; text-align: center; width: 5%">
                    <input type="button" value="&#8594;" class="move-right"
                           onclick="moveOptions(this.form.<%= available_tag_id %>, this.form.<%= selected_tag_id %>);" />
                    <input type="button" value="&#8592;" class="move-left"
                           onclick="moveOptions(this.form.<%= selected_tag_id %>, this.form.<%= available_tag_id %>);" />   <td style="width: 45%">
                  <%= select_tag tag_name,
                                 options_for_select(query_selected_inline_columns_options(query)),
                                 :id => "selected_columns",
                                 :multiple => true, :size => 10,
                                 :ondblclick => "moveOptions(this.form.#{selected_tag_id}, this.form.#{available_tag_id});" %>
                </td>
                  <td style="vertical-align: middle; text-align: center; width: 5%">
                    <input type="button" value="&#8648;" onclick="moveOptionTop(this.form.<%= selected_tag_id %>);" />
                    <input type="button" value="&#8593;" onclick="moveOptionUp(this.form.<%= selected_tag_id %>);" />
                    <input type="button" value="&#8595;" onclick="moveOptionDown(this.form.<%= selected_tag_id %>);" />
                    <input type="button" value="&#8650;" onclick="moveOptionBottom(this.form.<%= selected_tag_id %>);" />    </td>
                </tr>
                </tbody></table>
              </td>
            </tr>
            <% if @query.groupable_columns.any? %>
              <tr>
                <td class="field"><label for='group_by'><%= l(:field_group_by) %></label></td>
                <td><%= group_by_column_select_tag(@query) %></td>
              </tr>
            <% end %>
            <% if @query.available_block_columns.any? %>
              <tr>
                <td class="field"><%= l(:button_show) %></td>
                <td><%= available_block_columns_tags(@query) %></td>
              </tr>
            <% end %>
            <% if @query.available_totalable_columns.any? %>
              <tr>
                <td><%= l(:label_total_plural) %></td>
                <td><%= available_totalable_columns_tags(@query) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>


  <p id="filter_buttons" class="form-actions filter-buttons" style="display: block;">
    <%= link_to_function l(:button_apply), '$("#selected_columns").find("option").prop("selected", true);$("#query_form").submit()', :class => 'icon icon-checked apply-link button-positive' %>
    <%= link_to l(:button_clear), { :set_filter => 1, :sort => '', :project_id => @project }, :class => 'icon icon-reload clear-link button-negative'  %>
    <% if @query.new_record? %>
      <% if User.current.allowed_to?(:save_queries, @project, :global => true) %>
        <%= link_to_function l(:button_save),
                             "$('#query_type').prop('disabled',false);$('#query_form').attr('action', '#{ @project ? new_project_query_path(@project) : new_query_path }').submit()",
                             :class => "icon icon-save save-link button" %>
      <% end %>
    <% else %>
      <% if @query.editable_by?(User.current) %>
        <%= link_to l(:button_edit), edit_query_path(@query), :class => 'icon icon-edit button-positive' %>
        <%= delete_link_query query_path(@query) %>
      <% end %>
    <% end %>
  </p>

</div>